html {
    margin: auto;
    padding: auto;
}

body {
    font-family: 'Quicksand';
    font: 75% sans-serif;
    color: black;
    margin: 0;
    padding: 50px 0px 0px 0px;
    z-index: 0;
}

.navbar {
    font-family: 'Quicksand';
    font-size: 2rem;
}

.navbar-color {
    background-color: whitesmoke;
}
.navbar-nav {
    padding-bottom: 15px;
}
.navbar-dark {
    background-color: whitesmoke;
}

@media (min-width: 768px) {
.navbar-brand 
    { 
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        align-self: center;
    }
}

.about {
    /*linear-gradient(135deg, orange, orange 60%, cyan);*/
    background-color:  #3b5998;
    /* background-image: url(dark-denim-3.png); */
    /* padding: 10%; */
    padding: 10% 0% 10% 0%;
}

.name {
	font-family: 'Quicksand', sans-serif;
    font-size: 2rem; 
    color: black;
    width: 100%;
    text-align: center;
    padding-left: 3%;
    float: center;
}

.termWrap {
    width: 80%;
}
.top {  
    text-align: center;
    width:100%;
    display: table;
    overflow: hidden;
    padding-top: 2%;
    padding-bottom: 2%;
}

.top .row {
    display: table-row;
}

.top .row .name {
    vertical-align: middle;
    display: table-cell;
}

.navbutton {
    font-size:2rem;
    cursor:pointer;
    float: right;
    padding-right: 50%;
}

div:not(.terminal-window) .intro{
    font-family: 'Quicksand', sans-serif;
    color: white;
    font-size: 1rem;
    text-align: center;
    margin-bottom: 5%;
}

.terminal-window {
    display: block;
    text-align: left;
    width: 100%;
    /*height: 360px;*/
    height: 35rem;
    border-radius: 10px;
    margin: auto;
    position: relative;
}

.terminal-window header {
  background: #E0E8F0;
  height: 30px;
  border-radius: 8px 8px 0 0;
  padding-left: 10px;
}

.terminal-window header .button {
  width: 12px;
  height: 12px;
  margin: 10px 4px 0 0;
  display: inline-block;
  border-radius: 8px;
}

.terminal-window header .button.green {
  background: #3BB662;
}

.terminal-window header .button.yellow {
  background: #E5C30F;
}

.terminal-window header .button.red {
  background: #E75448;
}

.terminal-window section.terminal {
  color: white;
  font-family: Menlo, Monaco, "Consolas", "Courier New", "Courier";
  font-size: 11pt;
  background: #30353A;
  padding: 10px;
  box-sizing: border-box;
  position: absolute;
  width: 100%;
  top: 30px;
  bottom: 0;
  overflow: auto;
}
.terminallink a {
    color: orange;
    text-decoration: none;
}
.links {
    font-family: Menlo, Monaco, "Consolas", "Courier New", "Courier";
    font-size: 11pt; 
    color: orange;
    text-decoration: none;
}

.links:hover {
    opacity: 0.7;
}

hr {
    margin-left: auto;
    margin-right: auto;
    margin: 0px;
    padding: 0px;
    border-bottom: 0px;
}

.resume-section {
    /* background-color: darkseagreen; */
    background-color: ivory;
    /* background-image: url(dark-denim-3.png); */
    color: black;
    font-family: 'Roboto';
    text-align: center;
    width: 100%;
    padding-bottom: 100px;
    padding-top: 100px;
}

.resume-header {
    padding-top: 10px;
    font-size: 30px;
    font-family: 'Quicksand', sans-serif;
}
.education-section {
    /* background-color: gainsboro; */
    padding: 2rem;
    padding-bottom: 3rem;
    font-family: 'Quicksand', sans-serif;
    display: inline-block;
    align-self: center;
    overflow:hidden;
    min-width: 50%;
}

.education-header {
    margin: 0px;
    text-align: left;
    padding-top: 20px;
    font-size: 20px;
    padding-bottom: 5px;
}

.school {
    align-content: center;
    font-size: 15px;
}

.relevantcw {
    text-align: left;
    margin-top: 5%;
    font-size: 15px;
}

li {
    font-size: 15px;
    margin: 15px;
    text-align: left;
    margin-bottom: 0px;
}
.courselist {
    margin: 0px;
    padding: 0px;
    padding-left: 30px;
    padding-top: 10px;
}

.cell {
    text-align: left;
    font-weight: bold;
}

.alignRight {
    text-align: right;
    padding-right: 1px;
    font-style: italic;
}
.alignedTable {
    align-content: center;
    min-width:100%;
    display: table;
    overflow: hidden;
}

.alignedTable .row {
    display: table-row;
}

.alignedTable .row .cell {
    vertical-align: middle;
    display: table-cell;
}

.education-hr {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}

.work-section {
    font-family: 'Quicksand', sans-serif;
    background-color: ivory;
    /* background-color: #3b5998; */
    /* background-image: url(dark-denim-3.png); */
    padding-bottom: 100px;
}

.work-header {
    padding-top: 100px;
    font-size: 30px;
    text-align: center;
    color: black;
    padding-bottom: 30px;
}

.inner {
    max-width: 1024px;
    margin: 0 auto;
}

.skill {
    border: 1px solid black;
    margin-right: 10px;
    text-transform: uppercase;
    font-weight: 500;
    width: auto;
    display: inline-block;
    font-size: 11px;
    line-height: 1.33333em;
    padding: 7px 18px;
    margin-top: 0.8em;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    border-radius: 8px;
}  

.thumbnail {
    height: 20px;
    width: 20px;
    margin: 10px;
}

.card {
    float: none;
    margin-bottom: 10px;
}

.row {
    clear: both;
}
.first {
    width: 85%
}

.second {
    width: 50%;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.social a {
    color: white;
    text-decoration: none;
}
.fa {
    padding: 10px;
    font-size: 30px;
    width: 4rem;
    text-align: center;
    text-decoration: none;
}

.fa:hover {
    opacity: 0.6;
}

.fa-github {
    color: white;
    background: #30353A
}

.fa-youtube {
    color: white;
    background: red;
}

