html, body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  margin: 0px;
  padding: 0px;
}

h1 {
	font-size: 60px;
	color: #eeee33;
}

ul {
	font-size: 30px;
	color: #eeee33;
}

.profile_picture {
	border-radius: 50%;
}